<a href="{% url 'export_attendance_pdf' %}" class="btn btn-primary" target="_blank">⬇️ Download Today's Attendance PDF</a>
<h2>✅ Present Users</h2>
{% if present_users %}
    <ul>
    {% for attendance in present_users %}
        <li>{{ attendance.user.username }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No one is present</p>
{% endif %}

<h2>❌ Absent Users</h2>
{% if absent_users %}
    <ul>
    {% for user in absent_users %}
        <li>{{ user.username }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No absentees</p>
{% endif %}
